<!-- Creiamo un componente riutilizzabile di sommario dell'ordine -->
<div appPannelloCarrello class="">
    <h2 class="text-xl font-bold mb-4">Sommario Ordine</h2>

    <div class="space-y-2 border-b pb-4">
        <ng-content select="[itemsCheckout]" />
    </div>

    <div class="space-y-3 text-lg pt-4 border-t">
        <div class="flex justify-between">
            <span>SubTotale:</span>
            <span>{{subtotale() | currency:'EUR': 'symbol'}}</span>
        </div>
        <div class="flex justify-between">
            <span>IVA:</span>
            <span>{{iva() | currency:'EUR': 'symbol'}}</span>
        </div>
        <div class="flex justify-between border-t pt-3 font-bold text-lg">
            <span>Totale Ordine:</span>
            <span>{{totaleOrdine() | currency:'EUR': 'symbol'}}</span>
        </div>
    </div>

    <!-- ng-content inserisce il contenuto del parent nel child, il select invece dichiara che vengono solamente presi
     e selezionati gli elementi che hanno come attributo bottoniAzione. Possono essere o elementi o container-->
    <ng-content select="[bottoniAzione]" />
</div>