<!-- da transition in avanti sono effetti CSS per l'animazione della card al passaggio del mouse -->
<div class="relative bg-white cursor-pointer rounded-xl shadow-lg overflow-hidden flex flex-col h-full transition-all duration-200 ease-out hover:-translate-y-1 hover:shadowxl ">

    <!-- inseriamo src nelle [] per avere il property binding e prendere l'url da quello che arriva dal singolo prodotto.
     [style.view-transition-name] imposta per la transizione dinamica il nome di cosa deve catturare e dove deve arrivare l'elemento. 
     La transizione solamente per un solo elemento: genera un nome UNICO per l'elemento che deve volare tra le route-->
    <img [src]="prodotto().imageUrl" [alt]="prodotto().name" class="w-full h-[300px] object-cover rounded-t-xl" [routerLink]="['/prodotto', prodotto().id]" [style.view-transition-name]="'product-image-' + prodotto().id">


    <!-- Inseriamo un piccolo toggle con il cuore così che sia il tasto azione per aggiungere il prodotto
     alla lista desideri. Con ng-content inserisce quello che c'è all'interno del tag app... nel parent-->
        <ng-content />

    <!-- in questo div ci sono tutte le altre info della card -->
    <div class="p-5 flex flex-col flex-1">
        <h3 class="text-lg font-semibold text-gray-900 mb-2 leading-tight"> {{prodotto().name}} </h3>
        <p class="text-sm text-gray-600 mb-4 flex-1 leading-relaxed"> {{prodotto().description}}</p>

        <!-- In questo div creiamo e inseriamo il componente per stelle recensioni
         e all'interno inseriamo il testo che vogliamo visualizzare di fianco alle stelle.
         In questo caso inseriamo il numero delle recensioni per questo prodotto -->
         <app-stelle-recensioni class="mb-3" [rating]="prodotto().rating">
            ({{prodotto().reviewCount}})
         </app-stelle-recensioni>

        
        <!-- nel div dello stoccaggio, usiamo l'espressione con l'operatore ternario per confermare se è true
         allora Disponibile se è false inStock allora Non Disponibile, nella classe stessa cosa per colorare il testo -->
        <div class="text-sm font-medium mb-4 {{prodotto().inStock ? 'text-green-600' : 'text-red-600'}} "> 
            {{prodotto().inStock ? 'Disponibile' : 'Non Disponibile'}} 
        </div>

        <!-- lo span per il prezzo lo impostiamo con la formattazione EUR inline -->
        <div class="flex items-center justify-between mt-auto">
            <span class="text-2xl font-bold text-gray-900"> {{prodotto().price | currency:'EUR':'symbol'}}</span>

            <!-- Nel bottone impostiamo che è disabilitato se inStock è falso e al click utilizziamo il metodo creato nello store-->
            <button matButton="filled" class="flex items-center gap-2" [disabled]="!prodotto().inStock" (click)="store.aggiungiAlCarrello(prodotto())">
                <mat-icon>shopping_cart</mat-icon>
                {{prodotto().inStock ? 'Acquista' : 'Non Disponibile'}}
            </button>
        </div>
    </div>
</div>
