<div class="relative bg-white cursor-pointer rounded-xl shadow-lg overflow-hidden flex flex-col h-full">

    <!-- inseriamo src nelle [] per avere il property binding e prendere l'url da quello che arriva dal singolo prodotto -->
    <img [src]="prodotto().imageUrl" alt="" class="w-full h-[300px] object-cover rounded-t-xl">


    <!-- Inseriamo un piccolo toggle con il cuore così che sia il tasto azione per aggiungere il prodotto
     alla lista desideri. Con ng-content inserisce quello che c'è all'interno del tag app... nel parent-->
        <ng-content />

    <!-- in questo div ci sono tutte le altre info della card -->
    <div class="p-5 flex flex-col flex-1">
        <h3 class="text-lg font-semibold text-gray-900 mb-2 leading-tight"> {{prodotto().name}} </h3>
        <p class="text-sm text-gray-600 mb-4 flex-1 leading-relaxed"> {{prodotto().description}}</p>

        <!-- aggiungere rating component -->
        
        <!-- nel div dello stoccaggio, usiamo l'espressione con l'operatore ternario per confermare se è true
         allora Disponibile se è false inStock allora Non Disponibile, nella classe stessa cosa per colorare il testo -->
        <div class="text-sm font-medium mb-4 {{prodotto().inStock ? 'text-green-600' : 'text-red-600'}} "> 
            {{prodotto().inStock ? 'Disponibile' : 'Non Disponibile'}} 
        </div>

        <!-- lo span per il prezzo lo impostiamo con la formattazione EUR inline -->
        <div class="flex items-center justify-between mt-auto">
            <span class="text-2xl font-bold text-gray-900"> {{prodotto().price | currency:'EUR':'symbol'}}</span>

            <!-- Nel bottone impostiamo che è disabilitato se inStock è falso e al click utilizziamo il metodo creato nello store-->
            <button matButton="filled" class="flex items-center gap-2" [disabled]="!prodotto().inStock" (click)="store.aggiungiAlCarrello(prodotto())">
                <mat-icon>shopping_cart</mat-icon>
                Acquista
            </button>
        </div>
    </div>
</div>
