<div class="relative bg-white cursor-pointer rounded-xl shadow-lg overflow-hidden flex flex-col h-full">

    <!-- inseriamo src nelle [] per avere il property binding e prendere l'url da quello che arriva dal singolo prodotto -->
    <img [src]="prodotto().imageUrl" alt="" class="w-full h-[300px] object-cover rounded-t-xl">


    <!-- Inseriamo un piccolo toggle con il cuore così che sia il tasto azione per aggiungere il prodotto
     alla lista desideri -->
     <button class="!absolute z-10 top-3 right-3 w-10 h-10 rounded-full !bg-white border-0 shadow-md flex item-center justify-center cursor-pionter transition-all duration-200 hover:shadow-lg"
     [class]="presenteNellaListaDesideri() ? '!text-red-500' : '!text-gray-400' " matIconButton (click)="toggleListaDesideri(prodotto())">
        <mat-icon>{{presenteNellaListaDesideri() ? 'favorite' : 'favorite_border'}}</mat-icon>
     </button>

    <!-- in questo div ci sono tutte le altre info della card -->
    <div class="p-5 flex flex-col flex-1">
        <h3 class="text-lg font-semibold text-gray-900 mb-2 leading-tight"> {{prodotto().name}} </h3>
        <p class="text-sm text-gray-600 mb-4 flex-1 leading-relaxed"> {{prodotto().description}}</p>

        <!-- aggiungere rating component -->
        
        <!-- nel div dello stoccaggio, usiamo l'espressione con l'operatore ternario per confermare se è true
         allora Disponibile se è false inStock allora Non Disponibile, nella classe stessa cosa per colorare il testo -->
        <div class="text-sm font-medium mb-4 {{prodotto().inStock ? 'text-green-600' : 'text-red-600'}} "> 
            {{prodotto().inStock ? 'Disponibile' : 'Non Disponibile'}} 
        </div>

        <!-- lo span per il prezzo lo impostiamo con la formattazione EUR inline -->
        <div class="flex items-center justify-between mt-auto">
            <span class="text-2xl font-bold text-gray-900"> {{prodotto().price | currency:'EUR':'symbol'}}</span>

            <!-- Nel bottone impostiamo l'emissione dell'evento al click per aggiungere il prodotto cliccato al carrello -->
            <button matButton="filled" class="flex items-center gap-2" (click)="clickAcquista.emit(prodotto())">
                <mat-icon>shopping_cart</mat-icon>
                Acquista
            </button>
        </div>
    </div>
</div>
