<!-- Creiamo la vista recensioni con le specifiche del pannello Carrello -->
<div appPannelloCarrello>
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Recensioni Utente</h2>

        <!-- Se l'utente è loggato Aggiungiamo un bottone per poter aggiungere una recensione -->
         @if (store.user()) {
            <button matButton="filled" (click)="store.apriDialogRecensione()"> Scrivi una Recensione</button>
         }
    </div>

    <!-- Se scriviRecensione è true allora apre il component dedicato per scrivere la recensione -->
     @if (store.scriviRecensione()) {
        <app-scrivi-recensione class="mb-6"/>
     }

    <app-sommario-rating [prodotto]="prodotto()"/>
    <div class="flex flex-col gap-6">
        @for (recensione of ordineRecensioni(); track recensione.id) {
            <app-recensione-singola [recensione]="recensione" />
        }
    </div>
</div>