<!-- iniziamo a creare la pagina della lista dei desideri -->
<div class="mx-auto max-w-[1200px] py-6 px-4">
    <!-- Il testo lo inseriamo all'interno per l'ng-content che abbiamo dentro il componente invece andare verso dinamicamente inserisco il persorso da navigare al click -->
    <app-bottone-indietro class="mb-6" andareVerso="/prodotti/tutti"> Continua lo Shopping </app-bottone-indietro>

    <!-- Creiamo un condizionale if: se ci sono prodotti nella lista desideri li visualizza altrimenti visualizza altro se vuoto -->
     @if (store.conteggioListaDesideri() > 0) {
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold"> La mia Lista Desideri</h1>
            <span class="text-gray-500 text-xl">{{store.conteggioListaDesideri()}} 
                {{store.conteggioListaDesideri() === 1 ? 'prodotto' : 'prodotti'}}</span>
        </div>
        <div class="responsive-grid">
            <!-- la card prodotto usa il property binding visto che l'abbiamo fatta riutilizzabile e prende i dati dallo store -->
            @for (prodotto of store.listaDesideriItems(); track prodotto.id) {
                <app-card-prodotto [prodotto]="prodotto"> 
                    <button
                        class="!absolute z-10 top-3 right-3 w-10 h-10 rounded-xl !bg-white border-0 shadow-md flex items-center justify-center cursor-pointer transition-all duration-200 hover:shadow-lg"
                        matIconButton (click)="store.rimuoviDallaListaDesideri(prodotto)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </app-card-prodotto>
            }
        </div>
        <!-- Creiamo un bottone che pulisca la lista dei desideri completamente -->
        <div class="mt-8 flex justify-center">
            <button matButton="outlined" class="danger" (click)="store.pulisciListaDesideri()"> Pulisci la Lista Desideri</button>
        </div>
     } @else {
        <app-lista-desideri-vuota />
     }
</div>